<div class="carga" *ngIf="carga==true">
  <img src="../../../assets/img/login/loading.svg" width="80" alt="Carga">
</div>
<app-navbar></app-navbar>
<section class="citas">
  <div class="container pt-5 pb-4">
    <div class="header mt-2">
      <div class="banner-header">
        <h3>Mis Citas Registradas</h3>
        <small class="text-muted">{{ day | date:'medium' }}</small>
      </div>
      <div class="btns">
        <button class="btn-view-cita mr-3" *ngIf="viewCitas==true" (click)="listarCitasPasadas()">
          Ver citas pasadas
        </button>
          <button class="btn-view-cita mr-3" *ngIf="viewCitas==false" (click)="listarCitas()">
            Ver citas reservadas
          </button>
        <button class="btn-add-cita" (click)="openModal(template)">
          Agendar Cita <i class="fas fa-plus-circle"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="citas pb-5">
  <div *ngIf="citas.length > 0 else citasNull">
    <div class="container">
          <div class="card card-body border-0 shadow">
            <div class="table-responsive">
              <table class="table">
                <thead class="thead-light text-center">
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Entidad</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo de Atención</th>
                    <th scope="col">Prueba Covid</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Estado</th>
                    <th scope="col" *ngIf="viewCitas==true">Acción</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let cita of citas">
                    <th scope="row">{{cita.id}}</th>
                    <td>{{cita.tipo_usuario}}</td>
                    <td>{{cita.fecha}}</td>
                    <td>{{cita.tipo_atencion}}</td>
                    <td>
                      <span class="badge badge-pill badge-secondary">{{cita.prueba_covid}}</span>
                    </td>
                    <td>{{cita.responsable}}</td>
                    <td>{{cita.comentario}}</td>
                    <td>
                      <span class="badge badge-pill badge-info">{{cita.status}}</span>
                    </td>
                    <td *ngIf="viewCitas==true">
                      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-sm btn-warning">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit-circle" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 15l8.385 -8.415a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3z" />
                            <path d="M16 5l3 3" />
                            <path d="M9 7.07a7.002 7.002 0 0 0 1 13.93a7.002 7.002 0 0 0 6.929 -5.999" />
                          </svg>
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" (click)="cancelarCita(cita.id)">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-x" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="12" r="9" />
                            <path d="M10 10l4 4m0 -4l-4 4" />
                          </svg>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      <div class="p-5"></div>
    </div>
  </div>

</section>
<app-footer></app-footer>

<ng-template #citasNull>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body border-0 card-hospi p-0">
          <div>
            <label class="title-card">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-hospital" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="3" y1="21" x2="21" y2="21" />
                <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16" />
                <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
                <line x1="10" y1="9" x2="14" y2="9" />
                <line x1="12" y1="7" x2="12" y2="11" />
              </svg>
              NO TIENES CITAS PROGRAMADAS
            </label>
          </div>
          <h6 class="p-4 title-hospi">Estás a un paso de
            agendar una cita</h6>
          <p class="pl-4 pr-4 pb-4 text-hospi">Puedes venir aquí cuando necesites agendar una
            nueva cita médica para tí, para tu familia y/o empresa. Las citas
            que vayas completando se irán guardando en el
            historial de citas pasadas para que las puedas
            consultar más adelante.</p>
          <div class="text-right pl-4 pr-4 pb-5">
            <p class="text-wspp mb-2"><i class="fab fa-whatsapp"></i> Whatsapp</p>
            <a class="btn-wspp" target="_blank" href="https://api.whatsapp.com/send?phone=+51%20953460711&text=Hola,%C2%A0%C2%BFMe%C2%A0comunico%C2%A0con%C2%A0Family%C2%A0Medical%C2%A0Center?">953460711</a>
          </div>
        </div>
      </div>
    </div>
    <div class="p-4"></div>
  </div>
</ng-template>

<ng-template #template>
  <div class="carga" *ngIf="carga==true">
    <img src="../../../assets/img/login/loading.svg" width="80" alt="Carga">
  </div>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Registrar Cita</h5>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form [formGroup]="formCita">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="subtitle-modal" for="start">Fecha</label>
            <input type="date" class="form-control input-modal" id="start" name="trip-start"
              formControlName="fechaCita" [value] ="fechaCita | date:'yyyy-MM-dd'" [min]="fechaCita | date:'yyyy-MM-dd'"
              max="2022-01-01" (change)="changedDate($event)">
          </div>
          <div class="form-group col-md-6">
            <label class="subtitle-modal" for="select-tipo">Paciente</label>
            <select class="form-control" id="select-tipo" name="select-tipo"
            [(ngModel)]="seleccionado" (change)="capturar($event)">
              <option hidden selected>Seleccionar opción...</option>
              <option [value]="item.id" *ngFor="let item of lUsuario">{{item.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="form-row" *ngIf="paciente == 1">
          <div class="form-group col-md-6">
            <label class="subtitle-modal" for="select-tipo">Tipo de atención</label>
            <select class="form-control" id="select-tipo" name="select-tipo" (change)="capturarAtencion($event)">
              <option [value]="item.id" *ngFor="let item of lAtencion">{{item.nombre}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label class="subtitle-modal" for="select-tipo">Prueba Covid</label>
            <select class="form-control" id="select-tipo" name="select-tipo" (change)="capturarCovid($event)">
              <option [value]="item" *ngFor="let item of lCovid">{{item}}</option>
            </select>
          </div>
          <div class="form-group col-md-12">
            <label class="subtitle-modal" for="select-tipo">Consulta y/o comentario</label>
            <textarea class="form-control" name="textarea" rows="3" cols="50" formControlName="consulta"
              placeholder="Descripción de forma breve"></textarea>
          </div>
          <div class="form-group col-md-12 text-right">
            <a class="btn btn-sm btn-primary" (click)="registrarCita()">Registrar</a>
          </div>
        </div>
        <div class="form-row" *ngIf="paciente == 2">
          <div class="form-group col-md-6">
            <label class="subtitle-modal" for="select-tipo">Tipo de atención</label>
            <select class="form-control" id="select-tipo" name="select-tipo" (change)="capturarAtencion($event)">
              <option [value]="item.id" *ngFor="let item of lAtencion">{{item.nombre}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label class="subtitle-modal" for="select-tipo">Prueba Covid</label>
            <select class="form-control" id="select-tipo" name="select-tipo" (change)="capturarCovid($event)">
              <option [value]="item" *ngFor="let item of lCovid">{{item}}</option>
            </select>
          </div>
          <div class="form-group col-md-12">
            <label class="subtitle-modal" for="select-tipo">Responsable de la Empresa</label>
            <input type="text" class="form-control input-modal" id="responsable" formControlName="responsable"
              placeholder="Nombre del Responsable">
          </div>
          <div class="form-group col-md-12">
            <label class="subtitle-modal" for="select-tipo">Consulta y/o comentario</label>
            <textarea class="form-control" name="textarea" rows="3" cols="50" formControlName="consulta"
              placeholder="Descripción de forma breve"></textarea>
          </div>
          <div class="form-group col-md-12 text-right">
            <a class="btn btn-sm btn-primary" (click)="registrarCita()">Registrar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
