.carga{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
}

input, select{
  border-radius: 0;
}

.citas{
  background-color: #F1F4F5;
}

.card-hospi{
  background-color: #16A0DB;
}

.title-card{
  margin: 0;
  color: #fff;
  font-size: 12px;
  background-color: #058CC6;
  padding: 10px 20px 10px 10px;
  border-bottom-right-radius: 20px;
}

.title-hospi{
  font-weight: 600;
  color: #fff;
}

.text-hospi{
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  text-align: right;
}

.text-wspp{
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.btn-wspp{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 4px 7px;
  border-radius: 5px;
}

.btn-wspp:hover{
  background-color: #fff;
  color: #16A0DB;
  transition: .3s all ease-in-out;
}


.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-add-cita{
  background-color: #16A0DB;
  border: none;
  color: #fff;
  font-size: 15px;
  padding: 5px 14px;
  border-radius: 5px;
}

.btn-add-cita:hover{
  background-color: #058CC6;
  transition:  .3s all ease-in-out;
}

.table{
  font-size: 15px;
}

.input-modal,option,select,textarea{
  font-size: 14px;
}

.subtitle-modal{
  font-size: 14px;
}

.modal-title{
  font-weight: 600;
}

input[type="date"]:before {
  color: rgb(167, 167, 167);
  content: attr(placeholder) !important;
  margin-right: 0.5em;
  font-size: 14px;
}
